APScheduler==3.6.3
async-timeout==4.0.3
Brotli == 1.0.9
cachetools==4.2.2
certifi == 2024.2.2
charset-normalizer == 2.0.4
configparser==6.0.0
idna == 3.4
PySocks == 1.7.1
python-telegram-bot==13.7
pytz==2024.1
redis==5.0.1
requests == 2.31.0
six==1.16.0
telegram==0.0.1
tornado==6.4
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.18
win-inet-pton == 1.1.0
