APScheduler==3.6.3
async-timeout==4.0.3
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
cachetools==4.2.2
certifi @ file:///C:/b/abs_35d7n66oz9/croot/certifi_1707229248467/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
configparser==6.0.0
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-telegram-bot==13.7
pytz==2024.1
redis==5.0.1
requests @ file:///C:/b/abs_474vaa3x9e/croot/requests_1707355619957/work
six==1.16.0
telegram==0.0.1
tornado==6.4
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.18
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
